*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #20202A;
    color: #ffffff;
}

/*side*/

.aside{
    position: fixed;
    /* position: relative; */
    left: 0;
    top: 0;
    height: 97vh;
    width: 92px;
    background: #272935;
    transition: 0.5s;
    z-index: 99;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px;
}
.aside:hover{
    width: 190px;
    transition: 0.5s;
    border-radius: 40px;
}


/*logo-side*/

.row{
    position: absolute;
    width: 100%;
}

.logo-side{
    position: absolute;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.aside h5{
    position: absolute;
    top: 20px;
    left: 100px;
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

/*subtitle*/

.subtitle{
    color: hsl(0, 0%, 50%);
    position: relative;
    top: 66px;
}

/*home-page*/

.link {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    font-size: 12px;
    margin-left: 30px;
}


.home-page{
    position: relative;
    left: 20px;
    top: 10%;
    width: 23vh;
    display: inline-block;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.home-page:hover{
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;
}

.home-pic{
    position: relative;
    width: 100%;
    height: fit-content;
} 

/*task-page*/

.task-page{
    position: relative;
    left: 20px;
    top: 10%;
    width: 21vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.task-page:hover{
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;

}

.task-pic{
    position: relative;
    width: 100%;
    display: block;

}

/*habit=page*/

.habit-page {
    position:relative;
    left: 20px;
    top: 10%;
    width: 23vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.habit-page:hover {
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;

}

.habit-pic {
    position: relative;
    display: block;
    width: 100%;
}

/*study-page*/

.study-page {
    position: relative;
    top: 10%;
    left: 20px;
    width: 24vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.study-page:hover {
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;

}

.study-pic {
    position: relative;
    display: block;
    width: 100%;
   
}

/*play-page*/

.play-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 20vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.play-page:hover {
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;

}

.play-pic {
    position: relative;
    display: block;
    width: 100%;
    
}

/*creativity*/

/* .creativity-link {
    border-bottom: blueviolet 2px solid;
    border-radius: 10px;
} */

.creativity-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 22vh;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
    
}

.creativity-page:hover {
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;
}

.creativity-pic {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: blueviolet 2px solid;
    border-radius: 10px;
}

/*settings*/

.settings-page {
    position: relative;
    left: 20px;
    top: 11%;
    width: 21vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(4px 4px 3px #000000);
}

.settings-page:hover {
    border-bottom: blueviolet 2px solid;
    border-radius: 4px;

}

.settings-pic {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 4px;
}

/*logout*/

#logout {
    position: relative;
    left: 15px;
    top: 20%;
    display: inline-block;
    width: 25vh;
    height: fit-content;
    transition: 0.4s all;
    padding: 0  10px 0 10px; 
    background:  rgba(255, 255, 255, 0);
    border: #ffffff00 2px solid;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
    padding: 5px;
}

#logout:hover {
    background-color: #00000045;
    border-radius: 4px;
    transition: 0.4s all;
}

.logout-pic {
    background-color: #00000045;
    border-radius: 4px;
    position: relative;
    display: block;
    width: 22%;
    height: fit-content;
    padding: 7px;
}

/*main*/

.main {
    width: 170vh;
    position: sticky;
    margin-left: 190px;
    border-bottom: #00000062 2px solid;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
 
.main h2{
    padding-top: 20px;
    padding-left:10px;
}

    /*main-search*/

.main .search{
    height: 40px;
    border: 0px;
    border-radius: 30px;
    background: #2f2f39;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    width: 100%;

}

    /*main-mode*/

.main .mode{
    border-radius: 30px;
    margin-left: 20%;
    background: #272935;
    padding: 7px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    /* width: 100px; */
}

.mode .sun{
    width: 30px;
    height: fit-content;
    margin-right: 30px;
    background: #000000b5;
    padding: 5px;
    border-radius: 50%;
}

.mode .moon{
    width: 25px;
    height: fit-content;
}


    /*main-account*/

.main .account{
    width: 100%;
    margin-left: 5%;
    margin-top: 20px;
    
}

.main .account .notification{
    border-radius: 50%;
    padding: 7px;
    background-color: #ffffff;
}

.main .account .name{
    margin-left: 10px;
    height: 20px;
    width: 100%;
    color: #ffffff;
}

.name .user-image{
    background: #008CF0;
    border-radius: 50%;
    padding: 5px;
}

/*content*/

#content{
    display: grid;
    grid-template-rows:repeat(4, auto);
    grid-gap: 50px;
    position: relative;
    left: 23%;
    margin-top: 6%;
    width: fit-content;
    height: 120vh;
   

}

/* problem-1 */

#problem-1{
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
}
#problem-1:hover{
    height: 380px;
}

    /*solve-btn*/

#problem-1 .solve{
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}
#problem-1 .earn{
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#problem-1 .start{
    transition: all 0.3s ease-in-out;
   width: 18%;
   margin-left: 10px;
   animation: start infinite 3s linear;
}
@keyframes start{
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100% {
        transform: translate(-5px);
    }
}

/* problem-2 */

#problem-2 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-2:hover {
    height: 380px;
}

/*solve-btn*/

#problem-2 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-2 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#problem-2 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start2 infinite 3s linear;
}

@keyframes start2 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}
/* problem-3 */

#problem-3 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-3:hover {
    height: 380px;
}

/*solve-btn*/

#problem-3 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-3 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#problem-3 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start3 infinite 3s linear;
}

@keyframes start3 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}

/* problem-4 */

#problem-4 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-4:hover {
    height: 380px;
}

/*solve-btn*/

#problem-4 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-4 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#problem-4 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start4 infinite 3s linear;
}

@keyframes start4 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}