*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #20202A;
    color: #ffffff;
}

/*side*/

/*روح لصفحة nav*/

/*main*/

/*روح لصفحة nav*/

/*content*/

#content{
    display: grid;
    grid-template-rows:repeat(4, auto);
    grid-gap: 50px;
    position: relative;
    left: 23%;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 10%;
}

/*animation p-1*/

.anime{
    width: fit-content;
    height: 10%;
    background-image: linear-gradient(to right, #00000079,#008cf05a,transparent),url(../images/Bulb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: #00000061 -3px 3px 7px;
    filter: blur(6px);
}

.anime-1{
    position: absolute;
    top: -20px;
    left: 30px;
    animation: anime1 20s infinite forwards;

}
@keyframes anime1{
    0%{
        transform: rotatez(0deg);
        translate: 0px -20px;
    }
    100%{
        transform: rotatez(360deg);
        translate: 0px 400px;
    }
}

/*anime-2 p-2*/

.anime-2 {
    position: absolute;
    top: -20px;
    left: 50%;
    animation: anime2 20s infinite forwards;

}

@keyframes anime2 {
    0% {
        transform: rotateZ(0deg);
        translate: 0px -20px;
    }

    100% {
        transform: rotateZ(360deg);
        translate: 0px 400px;
    }
}

/*anime-3 p-2*/

.anime-3 {
    position: absolute;
    top: -20px;
    left: 20%;
    animation: anime3 15s infinite forwards;

}

@keyframes anime3 {
    0% {
        transform: rotateZ(0deg);
        translate: 0px -20px;
    }

    100% {
        transform: rotateZ(360deg);
        translate: 0px 400px;
    }
}

/*anime-4 p-2*/

.anime-4 {
    position: absolute;
    top: -20px;
    left: 70%;
    animation: anime4 10s infinite forwards;

}

@keyframes anime4 {
    0% {
        transform: rotateZ( 0deg);
        translate: 0px -20px;
    }

    100% {
        transform: rotateZ(360deg);
        translate: 0px 400px;
    }
}

/*anime-5 p-2*/

.anime-5 {
    position: absolute;
    top: -30px;
    left: 88%;
    animation: anime5 12s infinite forwards;

}

@keyframes anime5 {
    0% {
        transform: rotateZ(0deg);
        translate: 0px -30px;
    }

    100% {
        transform: rotateZ(360deg);
        translate: 0px 400px;
    }
}

/* problem-1 */

#problem-1{
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
}
#problem-1:hover{
    height: 390px;
}

    /*solve-btn*/

#problem-1 .solve{
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}
#problem-1 .earn{
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 30px;
}

#problem-1 .start{
    transition: all 0.3s ease-in-out;
   width: 18%;
   margin-left: 10px;
   animation: start infinite 3s linear;
}
@keyframes start{
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100% {
        transform: translate(-5px);
    }
}

    /*points*/

.points{
    width: fit-content;
    height: fit-content;
    background: #313344;
    padding: 12px;
    border-radius: 15px;
    /* box-shadow: #00000061 -3px 3px 7px; */
    filter: drop-shadow(3px 3px 10px #000000);
    position: relative;
    left: 26.5%;
}

/*animation p-2*/

#p-2{
    background: rgba(137, 43, 226, 0.455);
}

/* problem-2 */

#problem-2 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-2:hover {
    height: 390px;
}

/*solve-btn*/

#problem-2 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-2 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 30px;
}

#problem-2 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start2 infinite 3s linear;
}

@keyframes start2 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}

/*points*/

.points {
    width: fit-content;
    height: fit-content;
    background: #313344;
    padding: 12px;
    border-radius: 15px;
    /* box-shadow: #00000061 -3px 3px 7px; */
    filter: drop-shadow(3px 3px 10px #000000);
    position: relative;
    left: 26.5%;
}

/*animation p-2*/

#p-3 {
    background: rgba(194, 224, 22, 0.455);
}

/* problem-3 */

#problem-3 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-3:hover {
    height: 390px;
}

/*solve-btn*/

#problem-3 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-3 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 30px;
}

#problem-3 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start3 infinite 3s linear;
}

@keyframes start3 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}

/*points*/

.points {
    width: fit-content;
    height: fit-content;
    background: #313344;
    padding: 12px;
    border-radius: 15px;
    /* box-shadow: #00000061 -3px 3px 7px; */
    filter: drop-shadow(3px 3px 10px #000000);
    position: relative;
    left: 26.5%;
}

/*animation p-2*/

#p-4 {
    background: rgba(95, 56, 224, 0.455);
}

/* problem-4 */

#problem-4 {
    transition: 0.8s all;
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 265px;
    background: #2f2f39;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: #00000061 -3px 3px 7px;
    padding: 20px;

}

#problem-4:hover {
    height: 390px;
}

/*solve-btn*/

#problem-4 .solve {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
}

#problem-4 .earn {
    background: #000;
    color: #ffffff;
    border: 1px solid #f04c00d4;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 30px;
}

#problem-4 .start {
    transition: all 0.3s ease-in-out;
    width: 18%;
    margin-left: 10px;
    animation: start4 infinite 3s linear;
}

@keyframes start4 {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translate(-5px);
    }
}

/*points*/

.points {
    width: fit-content;
    height: fit-content;
    background: #313344;
    padding: 12px;
    border-radius: 15px;
    /* box-shadow: #00000061 -3px 3px 7px; */
    filter: drop-shadow(3px 3px 10px #000000);
    position: relative;
    left: 26.5%;
}


/*responsive 1054px*/

@media (max-width: 1054px) and (min-width: 973px) {
    #content{
        position: relative;
        left: 17%;
    }
}


@media (max-width: 973px) and (min-width: 946px) {
    #content {
        position: relative;
        left: 15%;
    }
}


@media (max-width: 946px) and (min-width: 810px) {
    #content {
        position: relative;
        left: 19.5%;
    }

    #problem-1 {
        width: 650px;
        height: 265px;
    } 

    #problem-1:hover{
    height: 445px;
    }

   #problem-2 {
        width: 650px;
        height: 265px;
    } 

    #problem-2.anime-1{
    height: 445px;
    }

   #problem-3 {
        width: 650px;
        height: 265px;
    } 

    #problem-3:hover{
    height: 445px;
    }

   #problem-4 {
        width: 650px;
        height: 265px;
    } 

    #problem-4:hover{
    height: 445px;
    }

   .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 20.5%;
    }
}


@media (max-width: 810px) and (min-width: 768px) {
    #content {
        position: relative;
        left: 16.5%;
    }

    #problem-1 {
        width: 650px;
        height: 265px;
    } 

    #problem-1:hover{
    height: 445px;
    }

   #problem-2 {
        width: 650px;
        height: 265px;
    } 

    #problem-1:hover{
    height: 445px;
    }

   #problem-3 {
        width: 650px;
        height: 265px;
    } 

    #problem-1:hover{
    height: 445px;
    }

   #problem-4 {
        width: 650px;
        height: 265px;
    } 

    #problem-1:hover{
    height: 445px;
    }

   .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 20.5%;
    }
}



@media (max-width: 768px) and (min-width: 752px) {
    #content {
        position: relative; 
        left: 6%;
        display: grid;   
        
    }

    #problem-1{
        width: 700px;
        height: 265px;
    }

    #problem-1:hover{
    height: 433px;
    }

    #problem-2 {
        width: 700px;
        height: 265px;
    }

    #problem-2:hover {
        height: 433px;
    }

    #problem-3 {
        width: 700px;
        height: 265px;
    }

    #problem-3:hover {
        height: 433px;
    }

    #problem-4 {
        width: 700px;
        height: 265px;
    }

    #problem-4:hover {
        height: 433px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 22.5%;
    }
}


@media (max-width: 752px) and (min-width: 660px) {
    #content {
        position: relative;
        left: 8%;
        display: grid;

    }

    #problem-1 {
        width: 600px;
        height: 265px;
    }

    #problem-1:hover {
        height: 453px;
    }

    #problem-2 {
        width: 600px;
        height: 265px;
    }

    #problem-2:hover {
        height: 453px;
    }

    #problem-3 {
        width: 600px;
        height: 265px;
    }

    #problem-3:hover {
        height: 453px;
    }

    #problem-4 {
        width: 600px;
        height: 265px;
    }

    #problem-4:hover {
        height: 453px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 17.5%;
    }
}


@media (max-width: 660px) and (min-width: 610px) {
    #content {
        position: relative;
        left: 7%;
        display: grid;

    }

    #problem-1 {
        width: 565px;
        height: 265px;
    }

    #problem-1:hover {
        height: 453px;
    }

    #problem-2 {
        width: 565px;
        height: 265px;
    }

    #problem-2:hover {
        height: 453px;
    }

    #problem-3 {
        width: 565px;
        height: 265px;
    }

    #problem-3:hover {
        height: 453px;
    }

    #problem-4 {
        width: 565px;
        height: 265px;
    }

    #problem-4:hover {
        height: 453px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 15.5%;
    }
}


@media (max-width: 610px) and (min-width: 524px) {
    #content {
        position: relative;
        left: 9%;
        display: grid;

    }

    #problem-1 {
        width: 470px;
        height: 278px;
    }

    #problem-1:hover {
        height: 492px;
    }

    #problem-2 {
        width: 470px;
        height: 278px;
    }

    #problem-2:hover {
        height: 492px;
    }

    #problem-3 {
        width: 470px;
        height: 278px;
    }

    #problem-3:hover {
        height: 492px;
    }

    #problem-4 {
        width: 470px;
        height: 278px;
    }

    #problem-4:hover {
        height: 492px;
    }

    .earn {
        width: 150px;
        font-size: 12px;
    }

    .solve {
        width: fit-content;
        font-size: 13px;
    }

    .points {
        width: 30حء;
        height: fit-content;
        background: #313344;
        padding: 9px;
        border-radius: 11px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 12.5%;
    }
}


@media (max-width: 524px) and (min-width: 468px) {
    #content {
        position: relative;
        left: 6.5%;

    }

    #problem-1 {
        width: 430px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-1:hover {
        height: 520px;
    }

    #problem-2 {
        width: 430px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-2:hover {
        height: 520px;
    }

    #problem-3 {
        width: 430px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-3:hover {
        height: 520px;
    }

    #problem-4 {
        width: 430px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-4:hover {
        height: 520px;
    }

    .earn {
        width: 150px;
        font-size: 12px;
    }

    .solve {
        width: fit-content;
        font-size: 12px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 12.5%;
    }
}


@media (max-width: 468px) and (min-width: 439px) {
    #content {
        position: relative;
        left: 6.5%;

    }

    #problem-1 {
        width: 400px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-1:hover{
    height: 535px;
    }

    #problem-2 {
        width: 400px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-2:hover{
    height: 535px;
    }

    #problem-3 {
        width: 400px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-3:hover{
    height: 535px;
    }

    #problem-4 {
        width: 400px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-4:hover{
    height: 535px;
    }

    .earn{
        width: 150px;
        font-size: 12px;
    }

    .solve{
        width: fit-content;
        font-size: 13px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 8.5%;
    }
}


@media (max-width: 439px) and (min-width: 320px) {
    #content {
        position: relative;
        left: 7.5%;

    }

    #problem-1 {
        width: 350px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-1:hover {
        height: 560px;
    }

    #problem-2 {
        width: 350px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-2:hover {
        height: 560px;
    }

    #problem-3 {
        width: 350px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-3:hover {
        height: 560px;
    }

    #problem-4 {
        width: 350px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-4:hover {
        height: 560px;
    }

    .earn {
        width: 150px;
        font-size: 10px;
    }

    .solve {
        width: fit-content;
        font-size: 10px;
    }

    .points {
        width: fit-content;
        height: fit-content;
        background: #313344;
        padding: 12px;
        border-radius: 15px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 8.5%;
    }
}  

@media (max-width: 320px) {
     #content {
        position: relative;
        left: 6.5%;

    }

    #problem-1 {
        width: 310px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-1:hover {
        height: 589px;
    }

    #problem-2 {
        width: 310px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-2:hover {
        height: 589px;
    }

    #problem-3 {
        width: 310px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-3:hover {
        height: 589px;
    }

    #problem-4 {
        width: 310px;
        height: 285px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #problem-4:hover {
        height: 589px;
    }

    .earn {
        width: 150px;
        font-size: 9px;
    }

    .solve {
        width: fit-content;
        font-size: 9px;
    }

    .points {
        width: 30px;
        height: fit-content;
        background: #313344;
        padding: 9px;
        border-radius: 9px;
        /* box-shadow: #00000061 -3px 3px 7px; */
        filter: drop-shadow(3px 3px 10px #000000);
        position: relative;
        left: 8.5%;
    }

}