* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #20202A;
    color: #ffffff;
}

/*side*/

.aside {
    position: fixed;
    /* position: relative; */
    left: 0;
    top: 0;
    height: 97vh;
    width: 85px;
    background: #272935 ;
    transition: 0.5s;
    z-index: 99;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px;
}

.aside:hover {
    background: linear-gradient(to right, #272935, #20202a);
    width: 190px;
    transition: 0.5s;
    border-radius: 25px 0px 0px 25px;
    z-index: 3;
    box-shadow: 0 0 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.243);
}


/*logo-side*/

.row {
    position: absolute;
    width: 100%;
}

.logo-side {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: fit-content;
    border-radius: 50px;
}

.aside h5 {
    position: absolute;
    top: 20px;
    left: 100px;
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

/*subtitle*/

.subtitle {
    color: hsl(0, 0%, 50%);
    position: relative;
    top: 66px;
    font-size: 12px;
}

/*home-page*/

.link {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    font-size: 15px;
    margin-left: 20px;
}


.home-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 23vh;
    display: inline-block;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.home-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;
}

.home-pic {
    position: relative;
    width: 100%;
    height: fit-content;
}

/*task-page*/

.task-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 21vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.task-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;

}

.task-pic {
    position: relative;
    width: 100%;
    display: block;

}

/*habit=page*/

.habit-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 23vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.habit-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;

}

.habit-pic {
    position: relative;
    display: block;
    width: 100%;
}

/*study-page*/

.study-page {
    position: relative;
    top: 10%;
    left: 20px;
    width: 24vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.study-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;

}

.study-pic {
    position: relative;
    display: block;
    width: 100%;

}

/*play-page*/

.play-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 20vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
}

.play-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;

}

.play-pic {
    position: relative;
    display: block;
    width: 100%;

}

/*creativity*/

/* .creativity-link {
    border-bottom: #008CF0 2px solid;
    border-radius: 10px;
} */

.creativity-page {
    position: relative;
    left: 20px;
    top: 10%;
    width: 22vh;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);

}

.creativity-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;
}

.creativity-pic {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: #008CF0 2px solid;
    border-radius: 10px;
}

/*settings*/

.settings-page {
    position: relative;
    left: 20px;
    top: 11%;
    width: 21vh;
    transition: 0.4s all;
    color: #ffffff;
    filter: drop-shadow(4px 4px 3px #000000);
}

.settings-page:hover {
    border-bottom: #008CF0 2px solid;
    border-radius: 4px;

}

.settings-pic {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 4px;
}

/*logout*/

#logout {
    position: relative;
    left: 10px;
    top: 20%;
    display: inline-block;
    width: 25vh;
    height: fit-content;
    transition: 0.4s all;
    padding: 0 10px 0 10px;
    background: rgba(255, 255, 255, 0);
    border: #ffffff00 2px solid;
    color: #ffffff;
    filter: drop-shadow(5px 5px 2px #000000);
    padding: 5px;
}

#logout:hover {
    background-color: #00000045;
    border-radius: 4px;
    transition: 0.4s all;
}

.logout-pic {
    background-color: #00000045;
    border-radius: 4px;
    position: relative;
    display: block;
    width: 22%;
    height: fit-content;
    padding: 7px;
}

/*main*/

.main {
    width: 170vh;
    margin-left: 190px;
    border-bottom: #00000062 2px solid;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.main h2 {
    padding-top: 20px;
    padding-left: 10px;
}

/*main-search*/

.main .search {
    height: 40px;
    border: 0px;
    border-radius: 30px;
    background: #2f2f39;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    width: 100%;

}

/*main-mode*/

.main .mode {
    border-radius: 30px;
    margin-left: 20%;
    background: #272935;
    padding: 7px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    /* width: 100px; */
}

.mode .sun {
    width: 30px;
    height: fit-content;
    margin-right: 30px;
    background: #000000b5;
    padding: 5px;
    border-radius: 50%;
}

.mode .moon {
    width: 25px;
    height: fit-content;
}


/*main-account*/

.main .account {
    width: 100%;
    margin-left: 4%;
    margin-top: 20px;
    cursor: pointer;

}

.main .account .notification {
    border-radius: 50%;
    padding: 7px;
    background-color: #ffffff;
}

.main .account .name {
    height: 20px;
    width: 100%;
    color: #ffffff;
}

.name .user-image {
    background: #008CF0;
    border-radius: 50%;
    padding: 5px;
}

/*content*/

#content {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 50px;
    position: relative;
    /* left: 18%; */
    padding-left: 18%;
    margin-top: 3%;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 10%;


}

/*solution-place*/

.solution-place{
    background: #272935;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}

.solution-place textarea{
    background: #272935;
    display: flex;
    padding: 5px;
    color:white;
    border: 2px solid rgba(24, 99, 238, 0.254);
    border-radius: 10px;
}

.solution-place #explain{
    display: grid;
    align-items: center;
    margin-top: 30px;
}

.solution-place #explain label{
    /* color: hsl(0, 0%, 50%); */
    font-size: 18px;
    font-family: Inter;
    /* font-weight: 100; */
}

textarea::placeholder{
    color: hsl(0, 0%, 50%);
    display: flex;
    text-align: center;
    padding: 15%;
    font-size: 20px;
}

.solution-place #explain input{
    color: hsl(0, 0%, 50%);
    font-size: 11px;
    cursor: pointer;
    margin-left: 14px;
}

/*contact-information*/

.contact{
    width: 93%;
}

.contact input{
    display: flex;
    width: 350px;
    padding: 15px;
    border: 1px solid hsl(272, 88%, 46%, 60%);
    background: hsla(0, 0%, 0%, 70%);
    border-radius: 14px;
    
}

.contact input::placeholder{
    color: hsl(0, 0%, 50%);
    text-align: center;
}

.contact button{
    color: hsl(0, 0%, 50%);
    padding: 15px;
    margin-top: 50px;
    justify-self: center;
    background: hsla(0, 0%, 0%, 70%);
    border: 1px solid hsl(272, 88%, 46%, 60%);
    border-radius: 14px;
}

.hint{
    border: 1px solid hsla(272, 88%, 46%, 0.368);
    border-radius: 14px;
    padding: 8px;
    color: #8283DF;
    margin-top: 40px;
    width:90%;
    font-size: 26px;
    font-family: Inter;
    text-align: center;
}

 .hint p{
    width: 100%;
}
