/*main-content*/

#content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    position: relative;
    left: 15%;
    margin-top: 2.5%;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
    margin-bottom: 10%;


}

/*content*/

    /*completed*/
#completed{
    background: #008CF0;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    padding-left: 15px;
    padding-right: 20px;
    box-shadow: -5px 2px 10px #008cf064;
    border-radius: 10px;
}

#completed .completed-pic{
    background: #84ccff8b;
    width: 40px;
    height: fit-content;
    border-radius: 8px;
    padding: 10px;
}

#completed .completed-task{
    width: 100px;
    margin-left: 15px;
    align-self: center;
}

    /*in progress*/
#progress {
    background: #F0AC00;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    padding-left: 15px;
    padding-right: 20px;
    box-shadow: -5px 2px 10px #d8dc056c;
    border-radius: 10px;
    margin-left: 20px;
}

#progress .progress-pic {
    width: 40px;
    height: fit-content;
    background: #ffd8848d;
    border-radius: 8px;
    padding: 10px;
}

#progress .progress-task {
    margin-left: 15px;
    align-self: center;
    width:100px;
    height: fit-content;
}

    /*point*/
#point {
    background: #272935;
    width: fit-content;
    height: fit-content;
    padding-right: 20px;
    box-shadow: -5px 2px 10px #00000089;
    border-radius: 10px;
    margin-left: 20px;
}
#point .point-pic {
    width: 40px;
    height: fit-content;
    background: #313344;
    border-radius: 10px 9px 9px  10px;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
}
#point .point-task {
    margin-left: 15px;
    align-self: center;
    width: 100px;
    height: fit-content;
}

/*play-page*/

#play{
    position: relative;
    background: #242227;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 50px;
}

#play .play{
    margin-bottom: 10px;
    font-family: Protest Riot;
}

#play h5{
    font-family: Protest Riot;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}

/*animation-shape*/

#play .shape1{
    position: absolute;
    top: 4%;
    left: 0%;
    animation:shape1 8s forwards infinite;
}
@keyframes shape1{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

#play .shape2 {
    position: absolute;
    left: 123px;
    top: 12%;
    transform: rotateZ(-10deg);
    animation:shape2 8s forwards infinite;
}
@keyframes shape2 {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(20px);
    }

    100% {
        transform: translatex(0px);
    }
}

#play .shape3 {
    position: absolute;
    top: 35%;
    left: 50px;
    animation:shape3 8s forwards infinite;
}
@keyframes shape3 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

/**/
.control{
    margin-left: 25px;
}
    
.control button{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: 0px ;
    background: #008cf0a5;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 10px #0000009e;
    color: white;
}

.control button:hover{
    transform: rotate(0deg);
}

.control .bu-1{
    padding-left: 30px;
    padding-right: 30px;
}

/*study*/

#study {
    position: relative;
    background: #242227;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 30px;
}

/*animation-shape*/


#study .shape1{
    position: absolute;
    left: 240px;
    animation:s-shape1 8s forwards infinite;

}
@keyframes s-shape1{
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}

#study .shape2 {
    position: absolute;
    top: 50%;
    left: 170px;
    animation:s-shape2 8s forwards infinite;

}
@keyframes s-shape2{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

#study .shape3 {
    position: absolute;
    left: 66px;
    animation:s-shape3 8s forwards infinite;

}
@keyframes s-shape3{
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(20px);
    }

    100% {
        transform: translatex(0px);
    }
}

/**/
#study h4{
    margin-bottom: 20px;
    font-family: Poppins;
}

#study .logo{
    margin-left: 65px;
    margin-right:65px;
}

#study .lessons{
    margin-top: 45px;
}

.lessons .lesson{
    margin-bottom: 30px;
}

#study .lessons button{
    color: white;
    border: 0px;
    background-image: linear-gradient(to right,#4696FF,#5C418A);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

#study .course .bu-2{
    padding-left: 22px;
    padding-right: 22px;
} 


/*creativity*/

#creativity{
    position: relative;
    background: #242227;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*animation-shape*/

#creativity .shape1{
    position: absolute;
    top: -20px;
    left: -40px;

}
#creativity .shape2 {
    position: absolute;
    top: 90%;
    left: 200px;

}

#creativity .shape1-2 {
    position: absolute;
    top: 75px;
    left: 40px;
    animation:shape1-2 10s infinite forwards;

}
@keyframes shape1-2{
    0%{
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

#creativity .shape2-2 {
    position: absolute;
    top: 43%;
    left: 140px;
    animation:shape2-2 10s infinite forwards;

}
@keyframes shape2-2{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/**/
#creativity h4 {
    margin-bottom: 35px;
    font-family: Protest Riot;
}

#creativity .creativity-pic {
    margin-left: 35px;
    margin-right: 35px;
}

#creativity p{
    margin-top: 35px;
    margin-bottom: 25px;
}

#creativity button{
    justify-self: center;
    border: 0px;
    background-image: linear-gradient(to right,#FEE491 ,#F7685B);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
}


/*welcome*/

.welcome{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 210vh;
    height: fit-content;
    z-index: 2;
    background-image: linear-gradient(to right,hsla(281, 80%, 38%,0.812),hsla(205, 100%, 47%, 0.812),hsla(43, 100%, 47%, 0.812));
    overflow: hidden;
    padding: 3px;
    font-size: 21px;
    font-family: Montserrat;
    font-weight: bold;
}

/* .welcome p{
    animation: welcome 50s infinite forwards;
} */
/* @keyframes welcome{
    0%{
        transform: translateX(-1050px);
    }
    100% {
        transform: translateX(1010px);
    }
} */
