*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    h2,h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p{
        font-weight: 50;
        font-size: medium;
    }
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 34, 102, 0.697) 10%, rgba(4, 4, 86, 0.672) 50%,rgba(30, 76, 204, 0.696),transparent),radial-gradient(rgba(0, 0, 0, 0.542) 10%,red 50%,transparent);
    animation: body 5s linear infinite;
}

/*header*/

#header{
    background-image: linear-gradient(to right,rgba(79, 79, 79, 0.488), rgba(0, 0, 0, 0.932),rgba(0, 0, 0, 0.655)),url(../Images/Picture3.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*brand*/

.brand{
    width: 55px;
    height: fit-content;
    border-radius: 12px;
}

/*nav*/
nav{
    z-index: 1;
    overflow: hidden;
}
.picture1{
    width: 70px;
    border-radius: 50px;
}
/*hero section*/
.hero-section{
    z-index: 1;
}
.picture2{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(black 0%,rgba(94, 94, 94, 0.351) 10%,rgba(118, 113, 113, 0.367),transparent),url(../Images/logo.jpg);
    border-style:ridge;
    background-position: center;
    background-size: cover;
    animation: picture2 30s linear infinite;
}
@keyframes picture2 {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    
    100% {
        transform: perspective(1000px) rotateY(160deg);
    }
}
.picture2:hover {
    background-image: linear-gradient(to left ,rgba(0, 0, 0, 0.367), rgba(217, 217, 218, 0.367)), url(../Images/logo.jpg);
    border-style: groove;
    transform: scale(1.03);
    animation: picture2h 20s linear infinite;
}
@keyframes picture2h {
    0% {

        transform: perspective(1000px) rotateY(0deg);
    }
}
.animated{
    position: relative;
    top: 0px;
     animation: animated1 4s linear infinite;

}
.animte{
    width: 50px;
    z-index: 2; 
    opacity: 0.4;
}
.animte:hover{
    border-radius: 10px;
    width: 60px;
    filter: drop-shadow(5px 1px 9px rgb(0, 0, 0));
    opacity: 1;

}
.animte1{
    position: absolute;
     left: 20%;
     top: 20px;

}
@keyframes animated1 {
    0% {
        position: absolute;
        top: 0%;
        left: 30%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;

    }

    50% {
        position: absolute;
        top: 30%;
        left: 30%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 30%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated2{
    position: relative;
    top: 0px;
    animation: animated2 6s linear infinite;
}
.animte2 {
    position: absolute;
    left: 10%;
    top: 20px;

}
@keyframes animated2 {
    0% {
        position: absolute;
        top: 0%;
        left: 25%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 25%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 25%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated3{
    position: relative;
    top: 0px;
    animation: animated3 8s linear infinite;

}
.animte3 {
    position: absolute;
    left: 8%;
    top: 20px;

}
@keyframes animated3 {
    0% {
        position: absolute;
        top: 0%;
        left: 20%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 20%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 22%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated4 {
    position: relative;
    top: 0px;
    animation: animated4 10s linear infinite;

}

.animte4 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated4 {
    0% {
        position: absolute;
        top: 0%;
        left: 15%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 15%;
        transform: rotatez(20deg);
        z-index:-1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 16%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated5 {
    position: relative;
    top: 0px;
    animation: animated5 12s linear infinite;

}

.animte5 {
    position: absolute;
    left: 8%;
    top: 20px;

}
@keyframes animated5 {
    0% {
        position: absolute;
        top: 0%;
        left: 80%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 80%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 90%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated6 {
    position: relative;
    top: 0px;
    animation: animated6 14s linear infinite;

}

.animte6 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated6 {
    0% {
        position: absolute;
        top: 0%;
        left: 35%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 35%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: rotatez(30deg);
        z-index:-1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 36%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated7 {
    position: relative;
    top: 0px;
    animation: animated7 16s linear infinite;

}

.animte7 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated7 {
    0% {
        position: absolute;
        top: 0%;
        left: 40%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 40%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated8 {
    position: relative;
    top: 0px;
    animation: animated8 5.8s linear infinite;

}

.animte8 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated8 {
    0% {
        position: absolute;
        top: 0%;
        left: 48%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 48%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 48%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated9 {
    position: relative;
    top: 0px;
    animation: animated9 9s linear infinite;

}

.animte9 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated9 {
    0% {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated10 {
    position: relative;
    top: 0px;
    animation: animated10 3s linear infinite;

}

.animte10 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated10 {
    0% {
        position: absolute;
        top: 0%;
        left: 58%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 58%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 58%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 58%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }
}
.animated11 {
    position: relative;
    top: 0px;
    animation: animated11 16s linear infinite;

}

.animte11 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated11 {
    0% {
        position: absolute;
        top: 0%;
        left: 60%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 60%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 60%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }
}
.animated12 {
    position: relative;
    top: 0px;
    animation: animated12 11s linear infinite;

}

.animte12 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated12 {
    0% {
        position: absolute;
        top: 0%;
        left: 69%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 69%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 69%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 69%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }
}
.animated13 {
    position: relative;
    top: 0px;
    animation: animated13 9.9s linear infinite;

}

.animte13 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated13 {
    0% {
        position: absolute;
        top: 0%;
        left: 72%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 72%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 72%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 72%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }
}
.animated14 {
    position: relative;
    top: 0px;
    animation: animated14 20s linear infinite;

}

.animte14 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated14 {
    0% {
        position: absolute;
        top: 0%;
        left: 78%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 78%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 78%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 78%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }
}
.animated15 {
    position: relative;
    top: 0px;
    animation: animated15 11.9s linear infinite;

}

.animte15 {
    position: absolute;
    left: 8%;
    top: 20px;

}

@keyframes animated15 {
    0% {
        position: absolute;
        top: 0%;
        left: 83%;
        transform: rotatez(10deg);
        display: none;
        z-index: 1;
    }

    50% {
        position: absolute;
        top: 30%;
        left: 83%;
        transform: rotatez(20deg);
        z-index: -1;
        display: block;
    }

    70% {
        position: absolute;
        top: 50%;
        left: 83%;
        transform: rotatez(30deg);
        z-index: -1;
    }

    100% {
        position: absolute;
        top: 80%;
        left: 83%;
        transform: rotatez(10deg);
        display: none;
        z-index: -1;
    }
}
/*sign*/
.sign:hover{
    animation: sign 20s linear infinite;
}
@keyframes sign {
    0% {
        box-shadow:
            -5px 5px 10px black,
            5px 5px 10px blueviolet,
            5px -5px 10px rgba(255, 255, 0, 0.425),
            -5px -5px 10px blue,
            -5px 5px 10px rgb(201, 130, 130),
            5px 5px 10px rgb(86, 159, 192),
            5px -5px 10px rgba(93, 194, 118, 0.411),
            -5px -5px 10px rgb(218, 213, 157);
    }

    100% {
        box-shadow:
            20px 20px 40px blueviolet,
            20px -20px 40px rgba(255, 255, 0, 0.425),
            -20px 20px 40px black,
            -20px 20px 40px rgb(201, 130, 130),
            20px -20px 40px rgba(93, 194, 118, 0.411),
            -20px -20px 40px blue,
            -20px -20px 40px rgb(218, 213, 157),
            20px 20px 40px rgb(86, 159, 192);
    }
}
/*sign in*/
.Signin {
    border-radius: 20% 70% 10% 100%;
    border-radius: 10px;
    transform: perspective(1000px) rotateY(-20deg);
    box-shadow:
        -5px 5px 10px black,
        5px 5px 10px blueviolet,
        5px -5px 10px rgba(255, 255, 0, 0.425),
        -5px -5px 10px blue,
        -5px 5px 10px rgb(201, 130, 130),
        5px 5px 10px rgb(86, 159, 192),
        5px -5px 10px rgba(93, 194, 118, 0.411),
        -5px -5px 10px rgb(218, 213, 157);
}

/*sign up*/
.Signup{
    border-radius: 20% 70% 10% 100%;
    border-radius: 10px;
    transform: perspective(1000px) rotateY(20deg);
    box-shadow:
        -5px 5px 10px black,
        5px 5px 10px blueviolet,
        5px -5px 10px rgba(255, 255, 0, 0.425),
        -5px -5px 10px blue,
        -5px 5px 10px rgb(201, 130, 130),
        5px 5px 10px rgb(86, 159, 192),
        5px -5px 10px rgba(93, 194, 118, 0.411),
        -5px -5px 10px rgb(218, 213, 157);
}

/*Section-1 Who are we*/

#Who-are-we {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.861), rgba(0, 0, 0, 0.92)50%, rgb(0, 0, 0)), url(../images/logo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#Who-are-we #w-e{
    word-spacing: 30%;
    font-weight: 15;
}

#Who-are-we #img2{
    border: 2px solid blueviolet;
    box-shadow: 3px 4px 8px blueviolet,
                5px 0px 9px yellow,
                -5px 0px 9px rgb(55, 4, 198)
    
    ;
    animation: img2 10s infinite;
}
@keyframes img2{
    
}

#who-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: radial-gradient(rgba(217, 217, 217, 0.221), rgba(0, 0, 0, 0.258));
    color: rgba(201, 191, 191, 0.791);
    font-weight: 700;
    font-size: 14px;
    font-style: bold;
    padding: 6px;
    border: 3px;
    border-style: outset;
    border-radius: 10%;
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

/*who-ani-right*/

#who-ani-right {
    margin-top: 100px;
    animation: who-ani-right 85s linear infinite;
    transition: all 3s;
}

@keyframes who-ani-right {
    0% {
        transform: translatex(-500px);
    }

    100% {
        transform: translatex(700px);
    }
}

/*who-ani-left*/

#who-ani-left {
    width: 300vh;
    animation: who-ani-left 85s linear infinite;
    transition: all 3s;
}

@keyframes who-ani-left {
    0% {
        transform: translatex(400px);
    }

    100% {
        transform: translatex(-700px);
    }
}


/*section-1 part-2 mission*/

/*card*/

.card-ani {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-ani svg {
    width: 48px;
    fill: #0a0a0a;
    transition: all 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-ani:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content-ani {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-ani:hover .card__content-ani {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title-ani {
    margin: 0;
    font-size: 24px;
    color: #0f0f0f;
    font-weight: 700;
}

.card__description-ani {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card-ani:hover .card__image-ani {
    opacity: 0;
    scale: 0;
    transform: rotate(-45deg);
}


.card1:hover {
    animation: card 20s linear infinite;
}

@keyframes card {
    0% {
        box-shadow:
            -5px 5px 10px black,
            5px 5px 10px blueviolet,
            5px -5px 10px rgba(255, 255, 0, 0.425),
            -5px -5px 10px blue,
            -5px 5px 10px rgb(201, 130, 130),
            5px 5px 10px rgb(86, 159, 192),
            5px -5px 10px rgba(93, 194, 118, 0.411),
            -5px -5px 10px rgb(218, 213, 157);
    }

    100% {
        box-shadow:
            20px 20px 40px blueviolet,
            20px -20px 40px rgba(255, 255, 0, 0.425),
            -20px 20px 40px black,
            -20px 20px 40px rgb(201, 130, 130),
            20px -20px 40px rgba(93, 194, 118, 0.411),
            -20px -20px 40px blue,
            -20px -20px 40px rgb(218, 213, 157),
            20px 20px 40px rgb(86, 159, 192);
    }
}

.card2:hover {
    animation: card2 20s linear infinite;
}

@keyframes card2 {
    0% {
        box-shadow:
            -5px 5px 10px black,
            5px 5px 10px blueviolet,
            5px -5px 10px rgba(255, 255, 0, 0.425),
            -5px -5px 10px blue,
            -5px 5px 10px rgb(201, 130, 130),
            5px 5px 10px rgb(86, 159, 192),
            5px -5px 10px rgba(93, 194, 118, 0.411),
            -5px -5px 10px rgb(218, 213, 157);
    }

    100% {
        box-shadow:
            20px 20px 40px blueviolet,
            20px -20px 40px rgba(255, 255, 0, 0.425),
            -20px 20px 40px black,
            -20px 20px 40px rgb(201, 130, 130),
            20px -20px 40px rgba(93, 194, 118, 0.411),
            -20px -20px 40px blue,
            -20px -20px 40px rgb(218, 213, 157),
            20px 20px 40px rgb(86, 159, 192);
    }
}

.card3:hover {
    animation: car3 20s linear infinite;
}

@keyframes car3 {
    0% {
        box-shadow:
            -5px 5px 10px black,
            5px 5px 10px blueviolet,
            5px -5px 10px rgba(255, 255, 0, 0.425),
            -5px -5px 10px blue,
            -5px 5px 10px rgb(201, 130, 130),
            5px 5px 10px rgb(86, 159, 192),
            5px -5px 10px rgba(93, 194, 118, 0.411),
            -5px -5px 10px rgb(218, 213, 157);
    }

    100% {
        box-shadow:
            20px 20px 40px blueviolet,
            20px -20px 40px rgba(255, 255, 0, 0.425),
            -20px 20px 40px black,
            -20px 20px 40px rgb(201, 130, 130),
            20px -20px 40px rgba(93, 194, 118, 0.411),
            -20px -20px 40px blue,
            -20px -20px 40px rgb(218, 213, 157),
            20px 20px 40px rgb(86, 159, 192);
    }
}

.card4:hover {
    animation: car4 20s linear infinite;
}

@keyframes car4 {
    0% {
        box-shadow:
            -5px 5px 10px black,
            5px 5px 10px blueviolet,
            5px -5px 10px rgba(255, 255, 0, 0.425),
            -5px -5px 10px blue,
            -5px 5px 10px rgb(201, 130, 130),
            5px 5px 10px rgb(86, 159, 192),
            5px -5px 10px rgba(93, 194, 118, 0.411),
            -5px -5px 10px rgb(218, 213, 157);
    }

    100% {
        box-shadow:
            20px 20px 40px blueviolet,
            20px -20px 40px rgba(255, 255, 0, 0.425),
            -20px 20px 40px black,
            -20px 20px 40px rgb(201, 130, 130),
            20px -20px 40px rgba(93, 194, 118, 0.411),
            -20px -20px 40px blue,
            -20px -20px 40px rgb(218, 213, 157),
            20px 20px 40px rgb(86, 159, 192);
    }
}

/*section 2*/
.contain2 {
    display: flex;
    justify-content: center;
    min-height: 250px;
}
.images {
    width: 100px;
    height: 250px;
}

.slider2 {
    position: absolute;
    transform-style: preserve-3d;
    transform:perspective(1000px) rotateY(0deg);
    animation: galleries 20s linear infinite;
    cursor: pointer;
    
} 

.span2 {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotatey(calc(var(--l)* 80deg))  translatey(90%) scale(1.1);
    -webkit-box-reflect: below 2.5px linear-gradient(transparent, rgba(3, 3, 3, 0, 2));
}
.slider2 .span2 .images {
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 6px ridge white;
}

@keyframes galleries {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(860deg);
    }
}

.images:hover{
    animation: images 20s linear infinite;
}
@keyframes images {
    0% {

        transform: rotatex(0deg);
        transform: scale(1.04);
    }
}

/*section3 animation*/


/*section-4*/

/*app-btn*/

#app-p {
    transition: 20s all;
}

#app-btn {
    background-image: linear-gradient(to left, pink, rgba(255, 166, 0, 0.615));
    animation: app-btn 20s linear forwards infinite;
    overflow: hidden;
    position: relative;
}

@keyframes app-btn {
    0% {
        background-image: linear-gradient(to left, pink, rgba(255, 166, 0, 0.577));
    }

    100% {
        background-image: linear-gradient(to right, pink, rgba(255, 166, 0, 0.555));
    }
}

.app-animte {
    width: 30px;
    z-index: 2;
    opacity: 0.4;
}

.app-animte:hover {
    border-radius: 10px;
    width: 35px;
    filter: drop-shadow(5px 1px 9px rgb(0, 0, 0));
    opacity: 1;

}

/*app-animte1*/

#app-animte1 {
    position: absolute;
    left: 0px;
    top: 0px;
    animation: app-animte1 5s infinite linear forwards;
}

@keyframes app-animte1 {
    0% {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        transform: rotate(0deg)
    }

    100% {
        position: absolute;
        left: 45%;
        top: 0px;
        z-index: -1;
        transform: rotate(200deg)
    }
}

/*app-animte2*/

#app-animte2 {
    position: absolute;
    right: 0px;
    top: 0px;
    animation: app-animte2 5s infinite linear forwards;
}

@keyframes app-animte2 {
    0% {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        transform: rotate(0deg)
    }

    100% {
        position: absolute;
        right: 45%;
        top: 0px;
        z-index: -1;
        transform: rotate(200deg)
    }
}

/*app-animate3*/

#app-animte3 {
    position: absolute;
    left: 0px;
    top: 0px;
    animation: app-animte3 15s 20ms infinite linear forwards;
}

@keyframes app-animte3 {
    0% {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        transform: rotate(0deg)
    }

    100% {
        position: absolute;
        left: 50%;
        top: 0px;
        z-index: -1;
        transform: rotate(200deg)
    }
}

/*app-animate4*/
#app-animte4 {
    position: absolute;
    right: 0px;
    top: 0px;
    animation: app-animte4 15s 20ms infinite linear forwards;
}

@keyframes app-animte4 {
    0% {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        transform: rotate(0deg)
    }

    100% {
        position: absolute;
        right: 50%;
        top: 0px;
        z-index: -1;
        transform: rotate(-200deg)
    }
}

/*section-4*/

#contain-app-gallery {
    position: relative;
    background: #0005103b;
    padding: 2%;
    /* transform-style: preserve-3d;
    width: 230px;
    height: 230px;
    animation: gallery 30s linear infinite;
    cursor: pointer;
    border-bottom: 2px solid rgb(73, 53, 164); */
}

#app-gallery {
    position: relative;
    display: flex;
    overflow: hidden;
    transition: 3s all;
}

#image-app {
    width: 25%;
    height: 5%;
    margin-left: 15%;
    animation: app-gallery 30s 0ms linear forwards infinite;
    transition: 3ms all;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}

@keyframes app-gallery {

    0% {
        transform: translatex(-1000px);
        border: 2px solid rgb(255, 226, 5);
    }

    100% {
        transform: translatex(1000px);
        border: 2px solid violet;
    }
}

/* section-5 our team*/
.our-team {
    animation: team linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50%;
}

@keyframes team {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*card*/
.card1{
    transition: 1s 10ms;
}
.card1:hover{
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.757),rgba(0, 0, 0, 0.805),rgba(0, 0, 0, 0.821),transparent),url(../Images/logo.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1.04);
}

.card2 {
    transition: 1s 10ms;
}

.card2:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.757),
        rgba(0, 0, 0, 0.805),
        rgba(0, 0, 0, 0.821),
        transparent), url(../Images/logo.jpg); 
    background-position: center;
    background-size: cover;
    transform: scale(1.04);
}
.card3 {
    transition: 1s 10ms;
}
.card3:hover {
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.757),
        rgba(0, 0, 0, 0.805),
        rgba(0, 0, 0, 0.821),
        transparent), url(../Images/logo.jpg); 
    background-position: center;
    background-size: cover;
    transform: scale(1.04);
}

/*Slide show*/

.contain {
    display: flex;
    justify-content: center;
    min-height: 250px;
}
.slider {
    position: relative;
    transform-style: preserve-3d;
    width: 230px;
    height:230px;
    animation: gallery 30s linear infinite;
    cursor: pointer;
}
@keyframes gallery {
    0% {
        transform:perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(860deg);
    }
}
.span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotatey(calc(var(--i)* 68deg)) translatez(370px) scale(1.1);
    -webkit-box-reflect: below 2.5px linear-gradient(transparent, rgba(3, 3, 3, 0, 2));
}
.image {
    margin-top: 50px;
    margin-bottom: 100px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
    transition: 1.5s;
    width: 70%;
    height: 70%;
    transition-duration: 1s;
    transform-origin: center;
    transform-style: preserve-3d;
    transition-delay: 20ms;
    transition-property: all;

}
.image:hover {
    transform: rotatex(0deg);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(202, 196, 196, 0.5);
}

/*section contact*/

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.861), rgba(0, 0, 0, 0.92)50%, rgb(0, 0, 0)), url(../Images/logo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    border-radius: 25px 0px 25px 0px;
    overflow: hidden;
}

/*Hr*/

.hr1{
    border: 3px dashed rgb(239, 241, 244);
    color: aliceblue;
}

.hr2{
    border: 2px solid rgb(255, 255, 255);
    color: rgb(241, 248, 255);
}
.hr3 {
    border: 1px solid rgb(255, 5, 109);
}

/*Footer*/
footer{
    padding-top: 80px;
    background-image: linear-gradient(to right,black 0%, rgba(0, 0, 0, 0.881) 10%, rgba(19, 19, 19, 0.831)), url(../Images/brand.jpg);
    background-position: right;
    background-size: cover;
}
footer li a{
    display: block;
    color: aliceblue;
}
footer li a:hover {
    color: rgba(255, 255, 0, 0.822);
    font-size: medium;
    text-decoration: overline;
    border-bottom: 2px solid rgb(206, 51, 162);
    padding: 2px;
}

/*modal-animation*/
.modal-animation{
    animation: modal 0.5s infinite;
}

@keyframes modal {
    0% {
        color: rgb(0, 0, 0);
    }
    50% {
        color: rgba(245, 240, 240, 0.48);
    }
    100% {
        color: black;
    }
}

/*button top*/
#btntop{
    position:fixed;
    bottom:20px;
    right:15px;
    z-index:1000;
    animation: btntop  linear forwards;
    animation-timeline: view();
    animation-range: cover 0% 100%;
}
@keyframes btntop{
    0%{
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}


@media (max-width: 768px) {

    /*hero section*/
    .picture2 {
        width: 300px;
        height: 300px;
        background-image: linear-gradient(black 0%, black 10%, rgba(71, 63, 63, 0.367), transparent), url(../Images/logo.jpg);
        border-style: ridge;
        background-position: center;
        background-size: cover;
        animation: picture2 40s linear infinite;
    }
    .span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotatey(calc(var(--i)* 68deg)) translatez(270px) scale(1.1);
        -webkit-box-reflect: below 2.5px linear-gradient(transparent, rgba(3, 3, 3, 0, 2));
    }
}


@media (min-width: 410px) and (max-width: 768px) {

    /*hero section*/
    .picture2 {
        width: 300px;
        height: 300px;
        background-image: linear-gradient(black 0%, black 10%, rgba(71, 63, 63, 0.367), transparent), url(../Images/logo.jpg);
        border-style: ridge;
        background-position: center;
        background-size: cover;
        animation: picture2 40s linear infinite;
    }
    .span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotatey(calc(var(--i)* 68deg)) translatez(150px) scale(1.1);
        -webkit-box-reflect: below 2.5px linear-gradient(transparent, rgba(3, 3, 3, 0, 2));
    }
    .image {
        margin-top: 50px;
        margin-bottom: 100px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 20px;
        transition: 1.5s;
        width: 50%;
        height: 50%;
        transition-duration: 1s;
        transform-origin: center;
        transform-style: preserve-3d;
        transition-delay: 20ms;
        transition-property: all;

    }
}

@media (max-width: 375px) {
    /*hero section*/
    .picture2 {
            width: 200px;
            height: 200px;
            background-image: linear-gradient(black 0%, black 10%, rgba(71, 63, 63, 0.367), transparent), url(../Images/logo.jpg);
            border-style: ridge;
            background-position: center;
            background-size: cover;
            animation: picture2 40s linear infinite;
        }
    .span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotatey(calc(var(--i)* 68deg)) translatez(105px) scale(1.1);
        -webkit-box-reflect: below 2.5px linear-gradient(transparent, rgba(3, 3, 3, 0, 2));
    }
    .image {
        margin-top: 50px;
        margin-bottom: 100px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 20px;
        transition: 1.5s;
        width: 35%;
        height: 35%;
        transition-duration: 1s;
        transform-origin: center;
        transform-style: preserve-3d;
        transition-delay: 20ms;
        transition-property: all;
    }
}